* {
  box-sizing: border-box;
}

body {

  background-image: 
  linear-gradient(0deg, rgba(189, 194, 164, 0.8) 8%, rgba(32, 22, 18, 0.9) 28%, rgba(191, 223, 184, 0.8) 78%, rgba(14, 59, 5, 0.8) 190%), url('https://images.unsplash.com/photo-1630982361893-8f66e2c7a862?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1630982361893-8f66e2c7a862?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.square{
  width: 25px;
  height: 25px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #bab59ce6;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  transition: 1s ease;
}

.square:hover{
  transition-duration: 0s;
}

